* {
    margin: 0;
    padding: 0;
}

@keyframes FadeIn {
    to { opacity: 1; }
}

@keyframes FadeOut {
    from {opacity: 1 }
    to { opacity: 0; }
}

.is-paused { animation-play-state: paused; }

.img {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    width: 500px;
}

.fadeIn { animation: FadeIn 1s ease-in 1 forwards; }
.fadeOut { animation: FadeOut .5s ease-in 1 forwards; }